@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    width: 100%;
    height: 80px;
    background: rgb(168, 57, 57);

}

.img {
    width: 120px;
}

.padding {
    padding-right: 20px;
}

.font {
    font-size: 40px;
}

.magin {
    margin: 20px 20px;
}

.between {
    justify-content: space-between;
}

.diplay {
    display: flex;
}

.align {
    align-items: center;
}

.column {
    flex-direction: column;
}

.justify {
    justify-content: center;
}

.row {
    flex-direction: row;
}

.text-d {
    text-decoration: none;
}

.bg-orange {
    background: rgba(56, 10, 2, 0.934);
}

.bg-gray {
    background: rgb(235, 236, 226);
}

.color {
    color: white;
}

.gap {
    gap: 80px;
}

.list {
    list-style-type: none;
}

a:hover {
    color: blueviolet;
}

.around {
    justify-content: space-around;
}

.bg-blue {
    color: blue;
}

.bold {
    font-weight: bold;
}

.header {
    display: block;
    width: 100%;

}

.content {
    /* background-color: rgb(182, 107, 107); */
    background-color: #874c4c;
    /* background-image: url('https://images.unsplash.com/photo-1691862330115-8976c67ab570?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    padding-left: 30px;
    padding-top: 15px;
    height: 380px;
    width: 100%;
}

.accent {
    color: rgb(244, 232, 216);

}

hr {
    width: 60px;
    height: 2px;
    font-weight: 30px;
    background-color: rgb(244, 232, 216);
    border-radius: 2px;
    border: none;
}

button {
    margin-top: 80px;
    height: 25px;
    width: 80px;
    border-radius: 3px;
    border: none;
    background-color: rgb(244, 232, 216);

}

.best-seller {
    height: 500px;
    padding-top: 20px;
}

.best-seller-text {
    text-align: center;

}

.best-seller-card {
    display: flex;
    height: 75%;
    justify-content: space-around;
    margin-top: 25px;
    

}


.best-seller-01 {

    background-color: rgb(249, 249, 223);
    width: 18%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}

.best-seller-02 {
    background-color: rgb(249, 249, 223);
    width: 18%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.best-seller-03 {
    background-color: rgb(249, 249, 223);
    width: 18%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


img {
    display: flex;
    padding-left: 40px;
    padding-top: 60px;
    width: 120px;

}

.price {
    display: flex;
}

.our-story {
    background-color: rgb(249, 249, 223);
    height: 400px;
}

.why-shoose-us {
    background-color: rgb(243, 210, 215);
    height: 400px;
}

.expresso-blend {
    background-color: rgb(249, 249, 223);
    height: 400px;
}

.our-costomer-say {
    background-color: rgb(121, 71, 71);
    height: 400px;
}

.readour-latest-blog {
    background-color: rgb(249, 249, 223);
    height: 400px;
}